<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

    <h1>Для регистрации прохода сотрудника на {{ sensor_id }} - выберите № карты</h1>
    <form action="{% url 'passage_point:sensor_check' sensor_id %}" method="post">
        {% csrf_token %}
        <select name="card_id">
            {% for card in data_cards %}
            <option value="{{ card.id }}">{{ card.id }}</option>
        	{% endfor %}
        </select>
        <input type="submit">
    </form>
</body>
</html>